.App {
  text-align: center;
}

.input-feedback {
  color: red;
  margin-top: .25rem;
}

input.error {
  border-color: red;
}

.video-tile-container {
  margin-top: 30px;
  border: 2px solid darkblue;
}